{% extends "base.html.twig" %}

{% block title %}
	nobears
{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
            <script type="text/javascript">

            let adresse= document.getElementById("adresse");
            let centerview=[100.346,1.7.976];
            let mymap = L.map('map').setView([centerview[0], centerview[1]], 6);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            let layerGroup = L.layerGroup().addTo(mymap);

            adresse.addEventListener('input',e=>{
                console.log(adresse.value);
                 let query="http://localhost:8080/search/?q="+adresse.value;
                {# let query="http://api-adresse.data.gouv.fr/search/?q="+adresse.value; #}
                fetch(query,{method: 'get'})
                .then(r=>r.json())
                .then(r=>{
                    layerGroup.clearLayers();
                    r.features.forEach(element => {
                        let coords=element.geometry.coordinates;
                        L.marker([coords[1],coords[0]]).addTo(layerGroup);
                    });
                })
            })
       
            </script>

            {% endblock %}
{% block body %}
<html>
        <form id="fff" action="#">
            <input type="text" placeholder="Enter je adres" id="adresse"/>
        </form>

        <div id="map" style="height: 300px;">
        </div>
        <div id="coords" style="position: absolute; z-index: 3; top: auto; left: auto;"></div>
</html>
{% endblock %}
