@import "~bootstrap/scss/bootstrap";


html {
    height: 100%;

    body {
        height: 100%;
        font-family: filson-pro, sans-serif;

        .underline-color u {
            text-decoration-color: red;
        }

        .mail {
            text-decoration: none;
        }

        h1 {
            font-size: 50px;
        }

    }
}



#address {
    width: 250px;
}