@import "~bootstrap/scss/bootstrap";


html {
    height: 100%;

    body {
        height: 100%;
        font-family: filson-pro, sans-serif;

        .underline-color u {
            text-decoration-color: red;
        }

        .mail {
            text-decoration: none;
        }

        h1 {
            font-size: 50px;
        }


    }
}

#coords {
    position: absolute;
    z-index: 3;
    top: auto;
    left: auto;
}

#image {
    height: 300px;
}



#address {
    width: 250px;
}